{% extends "base.html" %}
{% block title %}User Details{% endblock %}
{% block content %}
<div class="panel">
    <h2 class="h5">User Details</h2>
    <form action="/show_update_detail" method="POST">
        <div class="form-group">
            <label for="User_ID">User ID</label>
            <input type="number" name="User_ID" id="User_ID" class="form-control" required>
        </div>
        <button class="btn btn-primary" type="submit" name="show">See User Details</button>
        <button class="btn btn-warning" type="submit" name="update">Update User Details</button>
        <button class="btn btn-danger" type="submit" name="delete">Delete User</button>
    </form>
</div>
{% endblock %}
