{% extends "base.html" %}
{% block title %}Statistics{% endblock %}
{% block content %}
<div class="panel">
    <h2 class="h5">Statistics</h2>
    <div class="row">
        <div class="col-md-4 mb-3"><img class="img-fluid" src="{{ url_for('static', filename='donor_stat.png') }}" alt="Donor statistics"></div>
        <div class="col-md-4 mb-3"><img class="img-fluid" src="{{ url_for('static', filename='Patient_stat.jpeg') }}" alt="Patient statistics"></div>
        <div class="col-md-4 mb-3"><img class="img-fluid" src="{{ url_for('static', filename='success.jpeg') }}" alt="Success statistics"></div>
    </div>
</div>
{% endblock %}
